# Healthcare Partners INC - Data Wrangling

### This Notebook attempts to perform Data Wrangling on the dataset for Healthcare Partners INC

#### Import Packages

In [1]:
# Import Packages
#Import pandas, matplotlib.pyplot, and seaborn in the correct lines below
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

#from library.sb_utils import save_file

#### Load the data

In [2]:
# the supplied CSV data file is the raw_data directory
#pmt_data = pd.read_csv('dataset.csv')


# Replace 'file.csv' with your file name
df = pd.read_csv('dataset.csv', encoding='latin-1')  # Use 'latin-1' or other suitable encoding

C:\Users\tgniy\AppData\Local\Temp\ipykernel_12776\3530590622.py:6: DtypeWarning: Columns (0,1,2,3,12,16,17,19,22,23,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset.csv', encoding='latin-1')  # Use 'latin-1' or other suitable encoding

#### Initial Data exploration

In [3]:
df.shape

(722659, 27)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722659 entries, 0 to 722658
Data columns (total 27 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Cont_title                       720487 non-null  object
 1   Market_type                      720487 non-null  object
 2   Contract_freq                    719172 non-null  object
 3   Earned_Period                    720487 non-null  object
 4   Fiscal_earned_year               720487 non-null  float64
 5   due_month                        720487 non-null  float64
 6   due_year                         720487 non-null  float64
 7   Fiscal_Year_Due                  720487 non-null  float64
 8   Check_Amount                     489583 non-null  float64
 9   Check_Admin_Amount               489583 non-null  float64
 10  paid_datekey                     489583 non-null  float64
 11  Fiscal_Year_Received             489583 non-null  float64
 12  CHK_DT_DEPOSIT                   489583 non-null  object
 13  ESTIMATE                         722659 non-null  int64
 14  ALLOCATION                       722659 non-null  float64
 15  Accrual_Amount                   722659 non-null  float64
 16  allocation_dt_start              481202 non-null  object
 17  allocation_dt_end                481202 non-null  object
 18  submission_id                    10448 non-null   float64
 19  submission_date_received         10448 non-null   object
 20  submission_reported_AdminFees    10448 non-null   float64
 21  submission_reported_SalesVolume  10448 non-null   float64
 22  CATEGORY_DESC                    720487 non-null  object
 23  ADMIN_PERCENT                    718614 non-null  object
 24  CONT_NUM                         720487 non-null  float64
 25  CHK_OWNER                        489583 non-null  object
 26  PREVIOUS_CONTRACT_DATE           402622 non-null  object
dtypes: float64(14), int64(1), object(12)
memory usage: 148.9+ MB

#### Deal with missing values - Remove features that do not add value to the dataset

In [5]:
#Explore missing values - 1
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns = ['count', '%']
missing = missing.sort_values(by='count', ascending=False)
missing

                                  count          %
submission_reported_SalesVolume  712211  98.554228
submission_id                    712211  98.554228
submission_date_received         712211  98.554228
submission_reported_AdminFees    712211  98.554228
PREVIOUS_CONTRACT_DATE           320037  44.286033
allocation_dt_end                241457  33.412301
allocation_dt_start              241457  33.412301
Check_Admin_Amount               233076  32.252556
paid_datekey                     233076  32.252556
Fiscal_Year_Received             233076  32.252556
CHK_DT_DEPOSIT                   233076  32.252556
CHK_OWNER                        233076  32.252556
Check_Amount                     233076  32.252556
ADMIN_PERCENT                      4045   0.559738
Contract_freq                      3487   0.482524
CATEGORY_DESC                      2172   0.300557
CONT_NUM                           2172   0.300557
Cont_title                         2172   0.300557
Market_type                        2172   0.300557
Fiscal_Year_Due                    2172   0.300557
due_year                           2172   0.300557
due_month                          2172   0.300557
Fiscal_earned_year                 2172   0.300557
Earned_Period                      2172   0.300557
Accrual_Amount                        0   0.000000
ALLOCATION                            0   0.000000
ESTIMATE                              0   0.000000

In [6]:
#Explore missing values - 2
total_cells = np.product(df.shape)

missing_values_count = df.isnull().sum()

total_missing = missing_values_count.sum()
print(total_cells)
#print(missing_values_count)
print(total_missing)

# percent of data that is missing
(total_missing/total_cells) * 100

19511793
5077331

26.021857652958907

This data has been exracted from multilpe systems/data bases, and may not be of value to this project. For example, Submission  ID, Submission_date_received, submission_reported_AdminFees, submission_reported_sales_volumes are columns that do not have any data. These columns also are reporting as 90% missing values, allocation_dt_start, allocation_dt_end. Therefore, these columns will be dropped.

Addiotnally, the following columns do not have relevance to the projec, and therefore will also be removed from the dataset
Cont_num, Check_owner, PREVIOUS_CONTRACT_DATE, CHK_DT_DEPOSIT

In [7]:
#Gather the columns names to drop
cols_to_drop = ['allocation_dt_start', 'CHK_DT_DEPOSIT','allocation_dt_end','submission_id', 'submission_date_received', 'submission_reported_AdminFees', 'submission_reported_SalesVolume', 'CHK_OWNER', 'CONT_NUM', 'PREVIOUS_CONTRACT_DATE']
df.drop(columns=cols_to_drop, inplace=True)

In [8]:
#Verify the removal
total_cells = np.product(df.shape)

missing_values_count = df.isnull().sum()

total_missing = missing_values_count.sum()
print(total_cells)
#print(missing_values_count)
print(total_missing)

# percent of data that is missing
(total_missing/total_cells) * 100

12285203
957212

7.791584721880461

In [9]:
df.shape

(722659, 17)

In [10]:
df.head()

,Cont_title,Market_type,Contract_freq,Earned_Period,Fiscal_earned_year,due_month,due_year,Fiscal_Year_Due,Check_Amount,Check_Admin_Amount,paid_datekey,Fiscal_Year_Received,ESTIMATE,ALLOCATION,Accrual_Amount,CATEGORY_DESC,ADMIN_PERCENT
0,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003.0,4.0,2003.0,2003.0,543310.00,543310.00,200601.0,2006.0,0,35023.30,0.0,Clinical Reference Laboratory Testing Services,3%
1,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003.0,4.0,2003.0,2003.0,229343.21,229343.21,200304.0,2003.0,0,224930.65,0.0,Clinical Reference Laboratory Testing Services,3%
2,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003.0,4.0,2003.0,2003.0,201440.18,201440.18,200508.0,2006.0,0,-1054.90,0.0,Clinical Reference Laboratory Testing Services,3%
3,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003.0,4.0,2003.0,2003.0,272868.54,272868.54,200504.0,2005.0,0,1633.36,0.0,Clinical Reference Laboratory Testing Services,3%
4,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003.0,4.0,2003.0,2003.0,239092.78,239092.78,200311.0,2004.0,0,1034.45,0.0,Clinical Reference Laboratory Testing Services,3%

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722659 entries, 0 to 722658
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Cont_title            720487 non-null  object
 1   Market_type           720487 non-null  object
 2   Contract_freq         719172 non-null  object
 3   Earned_Period         720487 non-null  object
 4   Fiscal_earned_year    720487 non-null  float64
 5   due_month             720487 non-null  float64
 6   due_year              720487 non-null  float64
 7   Fiscal_Year_Due       720487 non-null  float64
 8   Check_Amount          489583 non-null  float64
 9   Check_Admin_Amount    489583 non-null  float64
 10  paid_datekey          489583 non-null  float64
 11  Fiscal_Year_Received  489583 non-null  float64
 12  ESTIMATE              722659 non-null  int64
 13  ALLOCATION            722659 non-null  float64
 14  Accrual_Amount        722659 non-null  float64
 15  CATEGORY_DESC         720487 non-null  object
 16  ADMIN_PERCENT         718614 non-null  object
dtypes: float64(10), int64(1), object(6)
memory usage: 93.7+ MB

#### Deal with Categorical columns

In [12]:
#Identify the Market types
df['Market_type'].value_counts()

Nursing                      154994
Rx - Pharmaceuticals          92786
Surgical PPI                  78934
Facilities                    66286
FS - Food                     63450
Surgical                      57398
Imaging                       46407
Purchased Services            41182
Laboratory                    38321
CV PPI                        27394
IT/ Telecom                   18806
FS - Non-Foods                 9149
Rx - Wholesaler                9075
Distribution                   7350
FS - Nutritionals              6378
PI - PIMS                       928
MM - Materials Management       876
PS - Alternate Site             311
FS - Chemicals                  293
ARC - Admin Opportunities       169
Name: Market_type, dtype: int64

The Market type is too exhastive. The goal is to view the market type groups, which are Pharmaceuticals, Food, Facilities and Material, Services. 
All 'Market Types' provided in the dataset needs to be mapped. The following section will do the mapping

In [13]:
#Create the dictionary
market_type_dict = {'Nursing':'Services', 'Rx - Pharmaceuticals':'Pharmaceuticals','Surgical PPI':'Services', 'Facilities':'Facilities and Material', 'FS - Food':'Food', 'Surgical':'Services', 'Imaging': 'Services', 'Purchased Services':'Services','Laboratory':'Facilities and Material', 'CV PPI':'Services',  'IT/ Telecom':'Facilities and Material',  'FS - Non-Foods':'Food', 'Rx - Wholesaler':'Pharmaceuticals',   'Distribution':'Services',  'FS - Nutritionals':'Food', 'PI - PIMS':'Services',   'MM - Materials Management':'Services','PS - Alternate Site':'Facilities and Material','FS - Chemicals':'Food',  'ARC - Admin Opportunities': 'Services' }
# Fill missing Zipcode based on the mapping
df['Market_category'] = df['Market_type'].map(market_type_dict)

In [14]:
#Verify the mapping
df[['Market_type','Market_category']].value_counts()

Market_type                Market_category
Nursing                    Services                   154994
Rx - Pharmaceuticals       Pharmaceuticals             92786
Surgical PPI               Services                    78934
Facilities                 Facilities and Material     66286
FS - Food                  Food                        63450
Surgical                   Services                    57398
Imaging                    Services                    46407
Purchased Services         Services                    41182
Laboratory                 Facilities and Material     38321
CV PPI                     Services                    27394
IT/ Telecom                Facilities and Material     18806
FS - Non-Foods             Food                         9149
Rx - Wholesaler            Pharmaceuticals              9075
Distribution               Services                     7350
FS - Nutritionals          Food                         6378
PI - PIMS                  Services                      928
MM - Materials Management  Services                      876
PS - Alternate Site        Facilities and Material       311
FS - Chemicals             Food                          293
ARC - Admin Opportunities  Services                      169
dtype: int64

In [15]:
df[['Market_type','Market_category']].tail()

       Market_type Market_category
722654         NaN             NaN
722655         NaN             NaN
722656         NaN             NaN
722657         NaN             NaN
722658         NaN             NaN

In [16]:
df.shape

(722659, 18)

In [17]:
#Any row that does not have a Market type does not add value to the dataset. Therefore, remove all rows that do not 
#have a value for 'Market_Type'
df.dropna(subset=['Market_type'], inplace=True)

In [18]:
df.shape

(720487, 18)

In [19]:
df[['Market_type','Market_category']].tail()

                      Market_type Market_category
720482  ARC - Admin Opportunities        Services
720483  ARC - Admin Opportunities        Services
720484  ARC - Admin Opportunities        Services
720485  ARC - Admin Opportunities        Services
720486  ARC - Admin Opportunities        Services

In [20]:
df.describe()

,Fiscal_earned_year,due_month,due_year,Fiscal_Year_Due,Check_Amount,Check_Admin_Amount,paid_datekey,Fiscal_Year_Received,ESTIMATE,ALLOCATION,Accrual_Amount
count,720487.000000,720487.000000,720487.000000,720487.000000,4.874110e+05,4.874110e+05,487411.000000,487411.000000,720487.0,7.204870e+05,7.204870e+05
mean,2018.437625,6.476295,2018.090618,2018.589801,3.622060e+05,3.592391e+05,201758.617822,2017.999932,0.0,1.401116e+04,-1.110166e+03
std,3.681650,3.394152,3.680757,3.676437,8.274613e+05,8.249768e+05,320.930692,3.216366,0.0,6.916691e+04,2.278687e+04
min,2003.000000,1.000000,2003.000000,2003.000000,-6.644600e+02,-6.644600e+02,200303.000000,2003.000000,0.0,-6.951992e+05,-5.402050e+06
25%,2016.000000,4.000000,2015.000000,2016.000000,3.071270e+03,2.961055e+03,201506.000000,2015.000000,0.0,0.000000e+00,0.000000e+00
50%,2019.000000,6.000000,2018.000000,2019.000000,3.621790e+04,3.478400e+04,201804.000000,2018.000000,0.0,1.166100e+02,0.000000e+00
75%,2021.000000,10.000000,2021.000000,2021.000000,2.643008e+05,2.609300e+05,202010.000000,2021.000000,0.0,4.798669e+03,0.000000e+00
max,2031.000000,12.000000,2030.000000,2031.000000,1.040222e+07,1.040222e+07,202302.000000,2023.000000,0.0,5.402050e+06,8.831740e+03

In [21]:
#The data set contains rows that does not have a check_amount. This seems to be a data extraction error. 
#Therefore, any row that does not have an amount in the check_amount must be dropped

df['Check_Amount'].isnull().sum()

233076

In [22]:
#There are 233,076 rows that are included in the dataset without a check amount
#these rows will be dropped
df.dropna(subset=['Check_Amount'], inplace=True)

In [23]:
df['Check_Amount'].isnull().sum()

0

In [24]:
df.dtypes

Cont_title               object
Market_type              object
Contract_freq            object
Earned_Period            object
Fiscal_earned_year      float64
due_month               float64
due_year                float64
Fiscal_Year_Due         float64
Check_Amount            float64
Check_Admin_Amount      float64
paid_datekey            float64
Fiscal_Year_Received    float64
ESTIMATE                  int64
ALLOCATION              float64
Accrual_Amount          float64
CATEGORY_DESC            object
ADMIN_PERCENT            object
Market_category          object
dtype: object

In [25]:
df = df[df['Check_Amount'] > 0]

In [26]:
df.describe()

,Fiscal_earned_year,due_month,due_year,Fiscal_Year_Due,Check_Amount,Check_Admin_Amount,paid_datekey,Fiscal_Year_Received,ESTIMATE,ALLOCATION,Accrual_Amount
count,469981.000000,469981.000000,469981.000000,469981.000000,4.699810e+05,4.699810e+05,469981.000000,469981.000000,469981.0,4.699810e+05,4.699810e+05
mean,2017.432907,6.527130,2017.080503,2017.586411,3.756390e+05,3.725621e+05,201747.931753,2017.898609,0.0,2.147929e+04,-1.657662e+03
std,3.348826,3.385413,3.339391,3.345281,8.396662e+05,8.371761e+05,320.844637,3.222696,0.0,8.464686e+04,2.789781e+04
min,2003.000000,1.000000,2003.000000,2003.000000,1.000000e-02,0.000000e+00,200303.000000,2003.000000,0.0,-6.951992e+05,-5.402050e+06
25%,2015.000000,4.000000,2014.000000,2015.000000,4.333560e+03,4.184390e+03,201504.000000,2015.000000,0.0,1.465660e+02,0.000000e+00
50%,2018.000000,7.000000,2017.000000,2018.000000,4.283750e+04,4.126552e+04,201802.000000,2018.000000,0.0,1.957240e+03,0.000000e+00
75%,2020.000000,10.000000,2020.000000,2020.000000,2.854871e+05,2.805958e+05,202008.000000,2021.000000,0.0,1.272085e+04,0.000000e+00
max,2023.000000,12.000000,2023.000000,2023.000000,1.040222e+07,1.040222e+07,202302.000000,2023.000000,0.0,5.402050e+06,8.831740e+03

#### Transforming

This section looks at the data types, for example, the year and month columns are defined as float. They must be presented as month number, like January = 1, Februart=2 and so on. The same needs to be treated in year columns. These are critical columns, as the predictive model must evaluate the year and months for prediction.

The next code converts all year columns and month columns to integers

In [27]:
df = df.astype({'due_year': int, 'due_month': int, 'Fiscal_earned_year':int, 'Fiscal_Year_Received': int})

In [28]:
df.head()

,Cont_title,Market_type,Contract_freq,Earned_Period,Fiscal_earned_year,due_month,due_year,Fiscal_Year_Due,Check_Amount,Check_Admin_Amount,paid_datekey,Fiscal_Year_Received,ESTIMATE,ALLOCATION,Accrual_Amount,CATEGORY_DESC,ADMIN_PERCENT,Market_category
0,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,543310.00,543310.00,200601.0,2006,0,35023.30,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material
1,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,229343.21,229343.21,200304.0,2003,0,224930.65,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material
2,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,201440.18,201440.18,200508.0,2006,0,-1054.90,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material
3,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,272868.54,272868.54,200504.0,2005,0,1633.36,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material
4,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,239092.78,239092.78,200311.0,2004,0,1034.45,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material

### The Admin % column

In [29]:
df['ADMIN_PERCENT'].value_counts()

3%           317204
2%            20953
1%,3%         20549
0%,3%         12481
1%            11186
              ...
.05%,.15%         3
.25%,1%           3
25%,3%            3
.25%,100%         1
4%,9.9%           1
Name: ADMIN_PERCENT, Length: 299, dtype: int64

#### The Admin columns contains the % that is used to calculate the actual Administration Fee that is due to members. The Revenue that is expected to Forecast is the net Admin Fee. 

#### Some contracts have multiple %s, where the average is used to calculate the member fee.

#### The the data in the column needs to be evaluated to extract the actual % that can then be used to calcualte the Net Administration Fee.

The following section evalues the content in the ADMIN_PERCENT columns, removes the % symbol and finally calcualtes the average.

### Find the average Admininstation fee percent

In [30]:
df['ADMIN_PERCENT'] = df['ADMIN_PERCENT'].astype(str)
df['ADMIN_PERCENT'] = df['ADMIN_PERCENT'].str.strip()
df['percent_vals'] = df['ADMIN_PERCENT'].str.replace('%', '')
#df['percentvals'] = df['ADMIN_PERCENT'].replace("%", "")

In [31]:
df[df['ADMIN_PERCENT'] == '.03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%'][['ADMIN_PERCENT', 'percent_vals']]

                              ADMIN_PERCENT               percent_vals
177772  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
177773  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
177774  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
182020  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
182021  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
...                                     ...                        ...
623101  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
623102  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
627865  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
631488  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9
635439  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%  .03,0,2,3,5,6,6.9,8,9,9.9

[122 rows x 2 columns]

In [32]:
df.head()

,Cont_title,Market_type,Contract_freq,Earned_Period,Fiscal_earned_year,due_month,due_year,Fiscal_Year_Due,Check_Amount,Check_Admin_Amount,paid_datekey,Fiscal_Year_Received,ESTIMATE,ALLOCATION,Accrual_Amount,CATEGORY_DESC,ADMIN_PERCENT,Market_category,percent_vals
0,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,543310.00,543310.00,200601.0,2006,0,35023.30,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3
1,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,229343.21,229343.21,200304.0,2003,0,224930.65,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3
2,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,201440.18,201440.18,200508.0,2006,0,-1054.90,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3
3,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,272868.54,272868.54,200504.0,2005,0,1633.36,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3
4,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,239092.78,239092.78,200311.0,2004,0,1034.45,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3

In [36]:
# Define a function to calculate average without using lambda
def calculate_average(string):
    # Split the string by ',' and convert each element to float
    #print(string)
    values_list = [float(num) for num in string.split(',')]
    #print(values_list)
    total_sum = sum(values_list)
    average = total_sum/len(values_list)
    #print(average)

        
    return average

# Apply the function to the DataFrame column
df['average'] = df['percent_vals'].apply(calculate_average)

In [37]:
df[df['ADMIN_PERCENT'] == '.03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%'][['ADMIN_PERCENT', 'average']]

                              ADMIN_PERCENT  average
177772  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
177773  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
177774  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
182020  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
182021  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
...                                     ...      ...
623101  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
623102  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
627865  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
631488  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983
635439  .03%,0%,2%,3%,5%,6%,6.9%,8%,9%,9.9%    4.983

[122 rows x 2 columns]

In [38]:
df.head()

,Cont_title,Market_type,Contract_freq,Earned_Period,Fiscal_earned_year,due_month,due_year,Fiscal_Year_Due,Check_Amount,Check_Admin_Amount,paid_datekey,Fiscal_Year_Received,ESTIMATE,ALLOCATION,Accrual_Amount,CATEGORY_DESC,ADMIN_PERCENT,Market_category,percent_vals,average
0,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,543310.00,543310.00,200601.0,2006,0,35023.30,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3,3.0
1,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,229343.21,229343.21,200304.0,2003,0,224930.65,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3,3.0
2,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,201440.18,201440.18,200508.0,2006,0,-1054.90,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3,3.0
3,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,272868.54,272868.54,200504.0,2005,0,1633.36,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3,3.0
4,Clinical Reference Laboratory,Laboratory,Monthly,3-Feb,2003,4,2003,2003.0,239092.78,239092.78,200311.0,2004,0,1034.45,0.0,Clinical Reference Laboratory Testing Services,3%,Facilities and Material,3,3.0